/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
h1 {
	font-size: 5em;
	margin: 0px 0px 5px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cbcbcb;
}

h1, a {
	text-decoration: none;
	color:#98ADA6;
}

.linkimg{
	border: .3em solid #CCCCCC;
}

#necklace {
	border: .3em solid #98ADA6;
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h2 {
	font-size: 2em;
	color: #6F7F7A;
}


footer {
	font-size: 12px;
	color: #55555;
	position: relative;
	top: 20px;
	left:775px;
}
